extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of card' name='title' required='true' value=(undefined===card ? '' : card.title) )
    div.form-group
      label(for='summary') Summary:
      input#summary.form-control(type='textarea', placeholder='Summary' name='summary' value=(undefined===card ? '' : card.summary) required='true')
    div.form-group
      label Element Type:
      div
        for element_type in element_types
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='element_type', id=element_type._id, value=element_type._id, checked=element_type.checked )
            label(for=element_type._id) #{element_type.name}
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg