extends layout

block content

  h1 ID: #{cardinstance._id}
  
  p #[strong Title:] 
    a(href=cardinstance.card.url) #{cardinstance.card.title}

  p #[strong Status:] 
    if cardinstance.status=='Available'
      span.text-success #{cardinstance.status}
    if cardinstance.status=='Available'
      p #[strong Price: ]
        span.text-success $#{cardinstance.card_price}
    else if cardinstance.status=='SoldOut'
      span.text-danger #{cardinstance.status}
    else
      span.text-warning #{cardinstance.status} 
      

  hr
  p
    a(href=cardinstance.url+'/delete') Delete Card Instance
  p
    a(href=cardinstance.url+'/update') Update Card Instance