extends layout

block content
  h1= title
  p Welcome to #[em Pokemon Home Index]

  if error
    p Error getting content.
  else
    p The shop has the following card counts:

    //- ul
    //-   li #[strong Cards:] !{data.card_count}
    //-   li #[strong Copies:] !{data.card_instance_count}
    //-   li #[strong Cards available:] !{data.card_instance_available_count}
    //-   li #[strong Types:] !{data.genre_count}
